name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  burn-central-worksapce:
    uses: tracel-ai/github-actions/.github/workflows/publish-crate.yml@v1
    with:
      crate: burn-central-worksapce
    secrets:
      CRATES_IO_API_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}
  # --------------------------------------------------------------------------------
  burn-central-cli:
    uses: tracel-ai/github-actions/.github/workflows/publish-crate.yml@v1
    with:
      crate: burn-central-cli
    needs:
      - burn-central-worksapce
    secrets:
      CRATES_IO_API_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}
